# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# Virtual environments
.venv/
venv/
ENV/

# Jupyter Notebook
.ipynb_checkpoints

# Data files
data/raw/*
data/processed/*
data/logs/*
!data/raw/.gitkeep
!data/processed/.gitkeep
!data/logs/.gitkeep

# Models
models/*
!models/.gitkeep

# Logs
logs/
*.log

# IDE specific files
.idea/
.vscode/
*.swp
*.swo

# OS specific files
.DS_Store
Thumbs.db
